@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
body{
    background-color: #222;
    color: #ddd;
    font-family: "Roboto Condensed", sans-serif;
}
h1,h2,h3{
    text-align: center;
    color: coral;
}
.selected{
    color: orange;
}
a{
    text-decoration: none;
    color: #e1cc4f;
}
a:hover{
    font-weight: bold;
}
.logo h3{
    text-align: left;
    margin-left: 20px;
}
.logo a:hover{
    text-decoration: underline;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    //padding: 2rem;
    background-color: #333333;
    position: fixed;
    left:0;
    right: 0;
    top: 0;
}
.nav-list{
    text-transform: uppercase;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    margin-right: 20px;
}
.nav-list a{
    color: white;
}
.nav-list a:hover{
    color: coral;
}
.nav-list .selected{
    color: coral;
}
.content{
    margin: auto;
    max-width: 800px;
    margin-top: 120px;
    margin-bottom: 500px;
}
.nav{
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    gap: 1rem;
    top: 0;
    right: 0;
    background-color: #222222;
    padding: 2rem;
    bottom: 0;
    box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);
}
.abrir-menu,.cerrar-menu{
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
    color: #ddd;
}
.abrir-menu{
    margin-right: 20px;
}
.izquierda{
    text-align: left;
}
.centro{
    text-align: center;
}
//.cerrar-menu{
//    display:none;
//}
.nav.visible{
    opacity:1;
    visibility: visible;
    transition: all .3s;
}
.left{
    text-align: left;
}
@media screen and (max-width:940){
    .content{
	margin-left: 40px;
	margin-right: 40px;
    }
}
